{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
  <div class="new_post" style="margin-left: 5%;">
    <form class="" action="" method="post">
      <textarea name="post" rows="4" cols="40" required></textarea>
      <br>
      <input type="submit" name="" value="Submit">
      {% csrf_token %}
    </form>
  </div>
  <hr>
  <div class="">
    {% for post in posts %}

      <div class="post">
        <a href="{% url 'profile' username=post.user %}"><strong>{{ post.user }}</strong></a>
        <br>
        {{ post.post }}
        <br>
        <div class="like">
          {{ post.likes }} Likes
          <a href=""class="likes">Like</a>
        </div>
        {{ post.time }}
      </div>
    {% endfor %}
    







  </div>
{% else %}

{{ msg }}

{% endif %}

{% endblock %}
