{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<h3>{{ username }}</h3>

Followers:{{ followers }}
Following:{{ following }}

{% if user_self == True %}
<form class="follow" action="" method="post">
  <button type="submit" name="button"disabled>Follow</button>
  <input type="hidden" name="" value="follow_form">
  {% csrf_token %}
</form>
{% elif user_self == False %}
<form class="follow" action="" method="post">
  <button type="submit" name="button">{{ follow_status }}</button>
  <input type="hidden" name="" value="follow_form">
  {% csrf_token %}
</form>
{% endif %}

<br>
Posts:
<br>

{% for post in posts %}

  <div class="post">
    <a href="{% url 'profile' username=post.user %}"><strong>{{ post.user }}</strong></a>
    <br>
    <div id="post-text">
      {{ post.post }}
    </div>

    <br>
    <div class="like">
      {{ post.likes }} Likes
      <a href=""class="likes">Like</a>
    </div>
    {{ post.time }}
    <br><a href="#"onclick="editPost()">edit</a>
  </div>

{% endfor %}


{% endif %}

{% endblock %}
